*{margin:0; padding:0; box-sizing:border-box;}

body{
	color:#414141;
	font-size:16px;
	font-family:'Cabin', sans-serif;
	font-weight:400;
}
h1,h2,h3,h4{
	text-transform: uppercase;
	padding-bottom: .5em;
	color:#fff;
}
h2{
	font-size: 2em;
}
h4{
	font-size: 1.25em;
	color:#414141;
}	
header{
	background: #fff;
	padding: .5em 6em 0 6em;
	height: 4em;
	width: 100%;
	position: fixed;
	z-index:100;
}
header img{
	float:left;
	height:2.8em;
	width:5em;
}
nav{
	float:right;
}
nav a{
	font-weight:700;
	color:#414141;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1em 1.5em 0 1.5em;
	float:left;
}
span{
	background: #000;
	padding:0 0.25em;
}
a:hover{
	color:#77ddcf;
}
#home {
	background:url('../images/background.jpg') no-repeat fixed;
	background-size:cover;
}
#about-page {
	background:url('../images/about_bg.jpg') no-repeat fixed;
	background-size:cover;
}
#contact {
	background:url('../images/background.jpg') no-repeat fixed;
	background-size:cover;
}
#personal {
	background:url('../images/personal_bg.jpg') no-repeat fixed;
	background-size:cover;
}	
#splash{
	height:80vh;
}
#splash div{
	padding: 8em 0 0 6em;
}
#splash h1{
	font-size: 4em;
	line-height: 1.6em;
	color: #FFF;
}
#about{
	background:rgba(0,0,0,.8);
}
#about div{
	width: 70%;
	margin: 0 auto;
	padding:4em 6em;
	color:#fff;
}
#about h3{
	color:#FFF;
	font-weight: 700;
	text-transform: uppercase;
	display:inline;
	padding: 1em 1.5em 1em 0;
}
#about p{
	font-size: 1.45em;
	line-height: 1.45em;
	display: block;
	padding-top: 3em;
	padding-bottom: 2em;
	font-style:italic;
}
#about img{
	float:left;
	padding-right: 2em;
}
#featured{
	background:rgba(255,255,255,.8);
	padding:2em 4em;
}
#featured div{
	max-width: 90%;
	margin: 0 auto;
}
#featured h2{
	color:#fff;
	padding: 1em 0;

}
#featured img{
	width: 33%;
	max-width:25em;
	padding: 0 1em 2em 0em;
}	
#work{
	width: 90%;
	padding:4em 3em;
	margin: 0 auto;
}
#work img{
	width: 33%;
	max-width:25em;
	padding:.5em;
}
#work img:hover{
	opacity:0.5;
}
#cassie {
	width:40%;
	text-align: justify;
	margin:0 auto;
	height: 100vh;
}
#cassie div{
	padding-top: 12em;
}
#cassie p{
	background:rgba(255,255,255,.8);
	font-size:1.1em;
	padding: 0.5em 1em;
	line-height: 1.5em;
}
#contact-how {
	width: 40%;
	margin: 0 auto;
	line-height: 1.45em;
	height: 100vh;
}
#contact-how div{
	padding-top: 12em;
}
#contact-how p{
	padding:1em 1em  0 1em;
	background:rgba(255,255,255,.8);
}
#contact-how a{
	text-decoration: none;
	color:#414141;
	display: block;
	padding-bottom: 1em;
}
#contact-how a:hover{
	color:#77ddcf;
}	
#journal {
	width:40%;
	text-align: justify;
	margin:0 auto;
	height: 100vh;
}
#journal div{
	padding-top: 12em;
}
#journal p{
	background:rgba(255,255,255,.8);
	font-size:1.1em;
	padding: 0.5em 1em;
	line-height: 1.5em;
}
#journal a{
	text-decoration: none;
	color:#414141;
}	
#journal a:hover{
	color:#77ddcf;
}	
.work-page div{
	max-width: 80%;
	padding-top: 3em;
	margin: 0 auto;
}
.description{
	width: 25%;
	float:left;
	padding-right: 1em;
	position: fixed;
}
.description p{
	line-height: 1.3em;
	padding-top: 1em;
}
.photos{
	width: 65%;
	float:right;
}
.photos img{
	width:100%;
	padding-bottom: 0.5em;
}
footer {
	position:absolute;
	background:#fff;
	padding: 1em 6em 1em 0;
	width: 100%;
}
footer a{
	padding:0 .5em;
	float: right;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*Hamburger Menu*/

.mobile-nav{
	display: none;
	float:right;
	padding-top: .7em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}	 
.responsive-menu{
	display: none;
	font-weight:700;
	text-transform: uppercase;
	text-decoration: none;
}
.responsive-menu ul{
	list-style-type: none;
}
.responsive-menu a{
	text-decoration: none;
	color:#000;
} 
.responsive-menu a:hover{
	color:#77ddcf;
}	
.expand {
	display: block !important; 
	position:absolute;
	right:0;
	background: #fff;
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	padding: 1em 2em 1em 1em;
	line-height: 1.25em;
}
